@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body{
  background-color: #AAAAAA;
}

input, button, #console{
  font-family: 'Source Code Pro', monospace;
  font-size: 11px;
}

table{
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  font-size: 11px;
}

table#input td:nth-child(1){
  width: 200px;
}

table#input td:nth-child(2) input{
  width: 100%;
}

#buttons{
  background-color: #7FDBFF;
  border: 1px solid grey;
  width: 100%;
}

#buttons button{
  display: inline-block;
  margin: 10px;
}

#console{
  padding: 10px;
  overflow: auto;
  height: 400px;
  color: #000000;
  border: 1px solid grey;
  background-color: #DDDDDD;
}

#console p{
  margin: 0px;
}

.stdout{
  color: green;
}

.stderr{
  color: red;
}

.close{
  color: blue;
}

.time{
  color: #BBBBBB;
  padding-right: 10px;
}

button{
  width: 200px;
  padding: 5px;
}

.safe{
  background-color: #3D9970;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.warn{
  background-color: #FFDC00;
  color: #000000;
  border: 1px solid #000000;
}

.alert{
  background-color: #FF4136;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

