doctype html
html
  head
    meta(charset='utf-8')
    title Raptor - Node.js Deploy Server
  body
    input#repository(type='text')
    input#install(type='text')
    input#startup(type='text')
    button#add Add
    button#reboot Reboot
    button#delete-all Delete All
    button#free-mem Free Memory
    button#cpu CPU Utilization

    script(src='/socket.io/socket.io.js')
    script(src='/js/vendor/jquery-2.1.1.min.js')
    script(src='/js/vendor/lodash.min.js')
    script(src='/js/code/raptor.js')

