doctype html
html
  head
    meta(charset='utf-8')
    title Raptor - Node.js Deploy Server
    link(rel='stylesheet', href='/css/style.css')
  body
    input#subdomain(type='text', placeholder='subdomain')
    input#port(type='text', placeholder='port')
    input#repository(type='text', placeholder='repository')
    input#install(type='text', placeholder='install command')
    input#startup(type='text', placeholder='startup command')
    button#add Add
    button#reboot Reboot
    button#delete-all Delete All
    button#free-mem Free Memory
    button#cpu CPU Utilization
    button#list PM2 List
    button#proxy Restart Proxy

    #projects
      include projects

    script(src='/socket.io/socket.io.js')
    script(src='/js/vendor/jquery-2.1.1.min.js')
    script(src='/js/vendor/lodash.min.js')
    script(src='/js/code/raptor.js')

